<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Page</title>
   
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-cont">
        <h1>LOGIN</h1>
        <form action="/user/login" method="post">
            <label>EMAIL</label>
            <input type="email" required name="email" placeholder="Enter your email"/>

            <label>PASSWORD</label>
            <input type="password" required name="password" placeholder="Enter your password"/>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
